<hr id="comments-hr">

<noscript>
    <style>
        #comments-hr {
            display: none;
        }
    </style>

    <small>
        <i>Enable JavaScript to see the comment section.</i>
    </small>
</noscript>

{{ $path := .RelPermalink }}

{{ if .IsTranslated }}
{{ with index .AllTranslations 0 }}
{{ $path = .RelPermalink }}
{{ end }}
{{ end }}

{{ $url := (printf "https://bbaovanc.com%s" $path) | absURL }}

<script>
    var remark_config = {
        host: "https://remark.boba.best",
        site_id: "bbaovanc.com",
        components: [
            "embed",
            //"last-comments",
            //"counter",
        ],
        url: "{{ $url }}", // make this permalink the main language so all languages have the same comments
        max_shown_comments: 10,
        theme: "dark",
        page_title: "{{ .Title }}",
        locale: "{{ .Language.Lang }}",
        show_email_subscription: true,
        simple_view: false,
    };
</script>
<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>

<div id="remark42"></div>
